/* 

    Adequação e padronização do CSS;
    Verificação de repetição de código CSS para enxugar;
    Adequação a layouts maiores e menores, para o jogo;
    Estilização com uma temática e, ainda, uma música (seria interessante?);

*/

body {
    background-image: url("https://media4.giphy.com/media/KCSJ0Nm8bc5owOdngX/giphy.gif?cid=ecf05e471j36nfk3px9j1acz5znw6ilo71yb3qccv6ubypi1&rid=giphy.gif");
    /* background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/11CTuYYhRFqCz0v6vVkizE/a31b1a8f71cf8a87ff0cee11665f60fb/Wand_experience_Ollivanders_exterior__Normal_width.jpg?w=2880&h=1740&fit=fill&fm=webp"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

header {
    /* background-image: url("https://media4.giphy.com/media/13eD01wPr7iiTC/giphy.gif?cid=ecf05e470gv0cmv2tmsudmqhojck6cb1fsppjye9mmbegsjf&rid=giphy.gif"); */
    /* background-image: url("https://media4.giphy.com/media/l1Et7Qw1XjvunS0Io/giphy.gif?cid=ecf05e476coa353yimwt8ttorvhxfk2hyziyux0xyr5cxz44&rid=giphy.gif"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

h1 {
    text-align: center;
    font-size: 35px;
    color: burlywood;
}
header h2 {
    text-align: center;
    color: burlywood;
}
.harry-potter-header img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.instructions summary {
    color: burlywood;
    text-align: center;
}

.instructions .img {
    background-color: rgba(11, 13, 17, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    text-align: center; 
}

.instructions .content {
    width: 400px;
    height: 200px;
    color: white;
    font-size: 20px;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    font-size: 100%;
    color: burlywood;
}

footer span:hover {
    cursor: pointer;
}

.playerOne {
    background-image: url("https://eloquent-swartz-99dfac.netlify.app/millenium-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;


}

.playerTwo {
    background-image: url("https://eloquent-swartz-99dfac.netlify.app/naveStar-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.celPlay {
    width: 14%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column-reverse;

}

.display{
    width: 90vw;
    height: 40vh;
    display: flex;
    flex-direction:row;
    margin: 10px auto;
}

.filho{
    width: 100%;
    height: 16.66%;
    display: flex;
    border-bottom: 1px solid black;    
}

.colum{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.linha{
    width: 100%;
    height: 16.66%;
    border: 1px solid black;
}

.coluna{
    width: 14.28%;
    height: 100%;
    border: 1px solid black;
}



.titleModal{
    font-size: 30px;
    text-align: center;
}


.buttonOrganize {
    text-align: center;
    height: 100px;
}

.buttonReset:hover {
    cursor: pointer;
    background-color: rgba(11, 13, 17, 0.5);
    border-radius: 0.5rem;
    padding: 0.7rem;
}

.modalDiv {
    width: 90%;
    height: 50px;
    background-image: url("https://media4.giphy.com/media/l1Et7Qw1XjvunS0Io/giphy.gif?cid=ecf05e476coa353yimwt8ttorvhxfk2hyziyux0xyr5cxz44&rid=giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: burlywood;
    margin: 0 auto;

}

.audio{
    width: 250px;
    height: 28px;
    background-color: transparent;
    position: absolute;
    left: -1000px;
}

.buttonOrganize {
    width: 200px;
    text-align: center;
    height:130px;
    border-radius: 15px;
    background-image: url("https://media1.giphy.com/media/S5ssBOUwOxPlzmDumx/giphy.gif?cid=6c09b952y517l60kapo3o935ppwdl4am2xwo8ah4tn4z50eh&rid=giphy.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    
}



#button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Obliviate{
    display: none;

}

.forca{
    text-align: center;
    color: burlywood;
}

.harry{
    display: none;
}


@media only screen and (min-width: 1024px) {

    body{
        font-family: 'New Tegomin', serif;
        
    }

    .display{
        max-width: 1024px;
    }

    body {
        background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/11CTuYYhRFqCz0v6vVkizE/a31b1a8f71cf8a87ff0cee11665f60fb/Wand_experience_Ollivanders_exterior__Normal_width.jpg?w=2880&h=1740&fit=fill&fm=webp");   
    }

    .titleModal{
        font-size: 40px;
        
    }

    .buttonReset {
        width: 30%;
        height: 55%;
        font-size: 24px;
        
    }

    .buttonOrganize{
        margin-bottom: 50px;
    }
    .instructions{
        margin-bottom: 50px;
    }

    .content{
        width: 500px;
       display: flex;
      justify-content: center;
    }

    footer{
        margin-bottom: 60px;
    }

    footer a{
        font-size: 24px;
        margin-top: 90px;
    }
    i{
        margin-right: 10px;
    }

    summary{
        font-size: 20px;
    }


    .content{
        margin: 0 auto;
    }

    .instructions .content {
        width: 600px;
        display: flex;
        flex-direction: column;


    }

    .instructions .content p {
        margin: 5px;
        text-align: center;
        color: burlywood;

    }

    .instructions{
        max-width: 1024px;
        margin: 0 auto;
        
    }

    .background{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.678);
    }

    .harry-potter-header{
        max-width: 800px;
        margin: 0 auto;
        margin-top: 80px;
    }

    h1{
        margin-top: 80px;
    }

    .modalDiv{
        height:250px;
        max-width: 600px;
        background-image: url("https://media4.giphy.com/media/13eD01wPr7iiTC/giphy.gif?cid=ecf05e470gv0cmv2tmsudmqhojck6cb1fsppjye9mmbegsjf&rid=giphy.gif");
        
    }

    .display{
        background-image: url("https://tvpururuca-cdn.nyc3.digitaloceanspaces.com/uploads/2019/12/18102354/harry-contra-voldemort-o-que-Harry-Potter-nos-ensinou.gif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        

    }

    .display:hover{
        cursor: pointer;
    }

    #button {
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
    }


    .buttonOrganize {
        width: 300px;
        height: 400px;
        text-align: center;
        height:200px;
        border-radius: 15px;
        background-image: url("https://media1.giphy.com/media/PcfozPlZSzARO/giphy.webp?cid=ecf05e47zbqzprsq7pkrko86wr57glpe39e8lgqcv78llf3v&rid=giphy.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        
    }
    .buttonOrganize:hover{
        transform: scale(1.1);
        transition-duration: 1s;
        cursor: pointer;
    }

    #button h2 {
        color:burlywood;
        font-size: 35px;
        text-shadow: 0.1em 0.1em #333
     }

     .playerOne {
        background-image: url("https://eloquent-swartz-99dfac.netlify.app/harry.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain ;
        
    }
    
    .playerTwo {
        background-image: url("https://eloquent-swartz-99dfac.netlify.app/vold.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }


    .modal{
        display: flex;
        justify-content: center;
    }

    .forca{
        display: none;
    }

    .Obliviate{
        display: initial;
    }

    .starwars{
        display: none;
    }

    .harry{
        display: initial;
    }
}
